.main-window
{
    background-color: #2C2C2C;
}

#window-header
{ 
    /*background: #494949;*/
    border: 1px solid #386025;
    background: linear-gradient(to top, #494949, #666666);
    color: white;
}

#window-header button
{ 
    background: #359033;
    padding: 10px 18px;
    border-radius: 8px;
    border: 2px solid #3DC33A;
}

#window-header button:hover
{ 
    background: #3BA339;
}

#window-header button:active
{ 
    background: #40C03D;
    border: 2px solid #359033;
}

scrollbar, scrollbar trough, scrollbar slider
{
    min-width: 8px;    /* Vertical scrollbar thickness */
    min-height: 8px;   /* Horizontal scrollbar thickness */
    padding: 4px;
}

scrollbar slider
{
    background: #398B3D;
    border-radius: 8px;
    border-color: #00B309;
    border-width: 1px;
}

scrollbar slider:hover
{
    background: #499A4D;
}

scrollbar slider:active
{
    background: #64D56A;
    border-color: #00FF0C;
}

scrollbar trough
{
    background: #333;
    border-radius: 4px;
}

scrollbar button
{
    min-width: 8px;
    min-height: 8px;
    padding: 4px;
    background: #567B51;
    border-radius: 4px;
    /*border-color: #20FF00;*/
    border: 1px solid #20FF00;
}

scrollbar button:hover
{
    background: #6B9A65;
    /*border-color: #20FF00;*/
    border: 1px solid #20FF00;
}

scrollbar button:active
{
    background: #A0E397;
    border-color: #20FF00;
}

scrollbar button:disabled
{
    background: #808080;
    border-color: #8B3939;
}

.normal-btn
{
    font-size: 18px;
    background: linear-gradient(to bottom, #00B531, #008023);
    border-color: #00FF25;
    min-height: 1px;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 16px;
}

#general-icons
{
    color: red;
}

.normal-btn:hover
{
    background: linear-gradient(to bottom, #00B531, #00B531);
    border-color: #00FF25;
}

.normal-btn:active
{
    background: #00B531;
    border-color: #E6E6E6;
}

.gray-btn
{
    font-size: 18px;
    background: linear-gradient(to bottom, #808080, #606060);
    border-color: #808080;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
}

.gray-btn:hover
{
    background: linear-gradient(to bottom, #606060, #606060);
}

.gray-btn:active
{
    background: #696969;
}

.list-box
{
    background: #5A5A5A;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border-color: #7CFF00;
    border-width: 23px;
    padding: 8px;
}

.list-label
{
    color: #FFFFFF;
    font-size: 14px;
    background: #808080;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 8px;
}

.list-label:hover
{
    background: #0CA836;
}

.list-label:active
{
    background: #00FF45;
}

.list-label:selected
{
    background: linear-gradient(to bottom, #00B531, #008023);
}

treeview
{
    background: #3B7F3D;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border-color: #7CFF00;
    border-width: 2px;
    padding: 8px;  
}

treeview
{
    background: #5A5A5A;
    color: white;
}

treeview.cell
{
    background: linear-gradient(to bottom, #898989, #5F5F5F);
    color: #FFFFFF;
    margin-bottom: 1rem;
    min-height: 40px;
}

treeview.cell:hover
{
    background: #468B49;
}

treeview.cell:selected
{
    background: linear-gradient(to bottom, #00B531, #008023);
    color: #fff;
}

treeview.row.separator
{
    min-height: 10px;
    background: transparent;
}

.tree-container
{
    background: #383838;
    border-radius: 28px;
}

tooltip
{
    background-color: #333333;
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid #1FD400;
    font-weight: bold;
    padding: 8px;
}

.tab-switcher button
{
    background: #47803E;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #1FD400;
    font-weight: bold;
    padding: 8px 16px;
}

.tab-switcher button:hover
{
    background: #4F8F44;
    border: 2px solid #1FD400;
}

.tab-switcher button:checked
{
    background: #45B831;
    border: 2px solid #25FF00;
}